.main-footer{

    overflow: hidden;
    position: relative;

    .newsletter{
        input[type="email"]{
            &::placeholder{
                font-size: 0.75rem !important;
            }
        }
    }

    .tags-container{
        a{
            transition: background-color 200ms ease-in-out;
            &:hover{
                background-color: $green;
            }
        }
    }

    .footer-menu{

        a{
            transition: color 200ms ease-in-out;
            cursor: pointer;
            &:hover{
                color: $green !important;
            }

            &:not(:last-child)::after{
                content: "::";
                margin-right: 0.625rem;
            }

        }
    }

    .go-to-top{
        position: relative;
        padding: 0.9375rem !important;

        a{
            cursor: pointer;
            width: 3.125rem;
            height: 3.125rem;
            position: absolute;
            bottom: -0.5rem;
            left: 50%;
            transform: rotate(-45deg) translateX(-50%) ;
        }
        i{
            transform: rotate(45deg) translateX(0.5625rem) translateY(-0.25rem);
        }
    }

}

    