*, option, select{
    font-family: sahel;
}

html{
    scroll-behavior: smooth !important;
}

a, a:active, a:hover, a:visited{
    text-decoration: none;
    font-family: sahel !important;
}

// cover
.cover{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $coverBlue;
    opacity: 0.8;
}

// Background colors
.bg-darkBlue{
    background-color: $darkBlue !important;
}
.bg-green{
    background-color: $green !important;
}

// Text colors
.text-green{
    color: $green !important;
}
.text-gray{
    color: $textGray !important;
}

// Text size
.font-20{
    font-size: 1.25rem;
}