#happyClient{

    .owl-stage-outer{
        overflow: visible;
        overflow-x: hidden;
        border-color: #dedede !important;
        padding-bottom: 3.125rem;
    }

    .message{
        border-top: .3125rem solid $green !important;
        position: relative;
        opacity: 0.6;
        transition: opacity 200ms ease-in-out;
        &::after{
            content: "";
            width: 3.125rem;
            height: 2.1875rem;
            position: absolute;
            bottom: -1.125rem;
            left: 3.125rem;
            border-left: 0.0625rem solid #dedede;
            border-bottom: 0.0625rem solid #dedede;
            transform: rotate(-35deg);
            background: #fff;
        }
        &:hover{
            opacity: 1;
        }
    }
}