.top{
    
    a{
        color: $white
    }

    &-social-icon{
        a{
            display: inline-block;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
            color: $white;
            transition: color 200ms ease-in-out;

            &:hover{
                color: $green;
            }    
        }
    }

    &-right-section{
        > span{
            font-size: 0.8125rem;

            a{
                transition: color 200ms ease-in-out;
                &:hover{
                    color: $green;
                }
            }
        }
    }
}

.main-nav{

    .navbar-nav .nav-item{

        .nav-link{
            transition: color 200ms ease-in-out;
            &:hover{
                color: $green;
            }
        }

        &:first-child .nav-link span{
            padding: 0.25rem 0.5rem !important;
            transition: background-color 200ms ease-in-out;
            border-width: .125rem !important;
            color: #000000;

            &:hover{
                background-color: $green;
                color: $white;
            }
        }
    }

    .navbar-brand{
        letter-spacing: 0.1875rem;
        font-size: 1.3rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

#mainCarousel{
    max-height: 43.75rem;
    .carousel-caption{
        bottom: 50%;
        transform: translateY(50%);
    }
}

.find-holyday{

    &-title{
        flex: 1;
        position: relative;
        border-left: .0625rem solid #3f5366;
        margin-left: .3125rem;
        @media screen and (max-width: 61.9375rem) {
            font-size: .125rem;
            font-weight: bold;
            border: none;
        }

        &::after{
            content: '';
            position: absolute;
            left: -.0625rem;
            top: 50%;
            display: block;
            border-left: .0625rem solid #3f5366;
            border-top: .0625rem solid #3f5366;
            width: .625rem;
            height: .625rem;
            transform: translate(-50%, -50%) rotate(-45deg);
            background-color: $darkBlue;

            @media screen and (max-width: 61.9375rem) { display: none; }
        }
    }

    form{
        flex: 8;

        label{
            min-width: 3.4375rem;
            @media screen and (max-width: 61.9375rem) {
                margin-top: 0.9375rem;
                margin-bottom: 0.9375rem;
            }
        }

        input{
            font-family: sahel;
            min-width: 20.125rem;
            max-width: 20.125rem;
            &[type='submit']{ 
                color:#fff;
                min-width: 6.875rem; 
                max-width: 6.875rem;
                @media screen and (max-width: 61.9375rem) {
                    margin-top: 0.9375rem;
                    margin-bottom: 0.9375rem;
                }
            }
        }

        .select{
            position: relative;
            select{
                min-width: 20.125rem;
                max-width: 20.125rem;
            }
        }

        .date-input{
            position: relative;
        }

        i{
            position: absolute;
            right: 23%;
            top: 50%;
            transform: translateY(-50%);
            color: $textGray;

            @media screen and (max-width: 61.9375rem) {
                right: 6%;
                top: 79%;
            }
        }
    }
}

#plotId{
    width: 322px !important;
}