.special-offers{
    .owl-carousel{

        .owl-stage-outer{
            overflow: visible;
            overflow-x: hidden;
            padding: 1.875rem 0;
        }

        .owl-item{
            @media screen and (min-width: 767px) {
                transition: transform 200ms ease-in-out, border 200ms ease-in-out;
                position: relative;
                &:hover{
                    transform: scaleY(1.1);
                    border: 4px solid $green;
                    z-index: 20000000;
                }
            }
        }

        .owl-prev, .owl-next{
            span{
                padding: 0 20px !important;
                margin: 0 5px;
                font-size: 30px;
                border: 2px solid $darkBlue;
                border-radius: 50%;

                &:hover{
                    background-color: $green;
                }
            }
        }
    }
}