.special-offers{
    .owl-carousel{

        .owl-stage-outer{
            overflow: visible;
            overflow-x: hidden;
            padding: 1.875rem 0;
        }

        .owl-item{
            @media screen and (min-width: 47.9375rem) {
                transition: transform 200ms ease-in-out, border 200ms ease-in-out;
                position: relative;
                &:hover{
                    transform: scaleY(1.05);
                    border: .2rem solid $green;
                    z-index: 20000000;
                }
            }
        }

        .owl-prev, .owl-next{
            span{
                padding: 0 1.25rem !important;
                margin: 0 0.3125rem;
                font-size: 1.875rem;
                border: 0.125rem solid $darkBlue;
                border-radius: 50%;

                &:hover{
                    background-color: $green;
                }
            }
        }
    }
}